# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/

# Misc
.DS_Store
.vscode
*.d
*.sublime-project
*.sublime-workspace
spheres.pgm
/ypsilon
/heap/debug-*.vmi
test/tmp1
test/tmp2
test/tmp3
